body {
	background: black;
	
}
p {
	color:white;
}
img{
	height: 35%;
	width: 35%;
}
img1{
	height: 45%;
	width: 45%;
}

li a {
	display:block;
	color:white;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
}