ul {
	list-style-type:none;
	margin:0;
	padding:0;
	/*width:200px; */
	overflow: hidden;
	background-color:ghostwhite;
	position:fixed;
}
li {
	float: top left;
}
li a {
	display:block;
	color: black;
	text-align: center;
	padding: 8px 32px;
	text-decoration: none;
	font-size: 20px

}
.active {
	background-color: black
	color: ghostwhite;
}

 h2{font-size: 50px;
	color:black;
 margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 310px;
  margin-left: 310px;
}

p {
	font-size: 20px;
	color: black;
	  margin-top: 80px;
  margin-bottom: 100px;
  margin-right: 310px;
  margin-left: 310px;
	}
	body {
	background-image: linear-gradient(to bottom, lightgrey, gainsboro, lightgrey, grey);
	/*background-image: url(../img/cotton.jpg); */
	color: grey;
	margin:0px;

}
img {width:50%;height:50%;border:0*/

	  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 310px;
  margin-left: 310px;}

iframe{width:500px;height:500px;border:0}

